<div class="app-header">
    <div class="top-row">
        <h2>Liam Floyd's Site</h2>
        <div class="external-link-container">
            <App::IconLink @link="https://github.com/lflo5727" @imgPath="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" @alt="Github" />
        </div>
    </div>
    <div class="bottom-row">

    </div>
</div>